
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
<div class="main-content">
<div class="container-fluid">
		<form action="/admin/uploads" method="POST" enctype="multipart/form-data">
		<label for="title">shoe brand name</label>
		<input type="text" name="name" class="form-control">
		<label for="file">shoe upload</label>
		<input type="file" name="file" class="form-control">
		<label for="file">categories</label>
		<select name="categories" id="dropdown" class="form-control">
			<option value="male_lathershoe" selected >Male_LatherShoe</option>
			<option value="male_seudeshoe" >Male_SeudeShoe</option>
			<option value="male_sandals">Male_Sandals</option>
			<option value="male_palm">Male_Palm</option>
			<option value="female_heels">Female_Heels</option>
			<option value="female_flatsole">Female_Flatsole</option>
			<option value="female_slippers">Female_Slippers</option>
			<option value="female_sidebag">Female_Sidebag</option>
			
		</select>
		<label for="file">price</label>
		<input type="number" name="price" class="form-control">
		<button class="btn btn-primary">Submit</button>
		</form>

</div>
</div>
</div>