<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>sample</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
  <link rel="stylesheet" href="//css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/sample.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

  <div class="container-fluid">

   <!-- top-bar -->
    <div class="row top-bar">
      <div class="twelve columns">
        <span class="fbk"><a href=""><img src="/img/fb.png" alt="fabook icon" width="12px" height="12px">></a></span>
        <span class="twt"><a href=""><img src="/img/twitter.png" alt="twitter icon" width="12px" height="12px">></a></span>
        <span class="cloud"><a href=""><img src="/img/cloud.png" alt="cloud icon" width="12px" height="12px">></a></span>
        <span class="fbk"><a href=""><img src="/img/fb.png" alt="fabook icon" width="12px" height="12px">></a></span>
        <span class="wp">The Creative Wordpress</span>
        <span class="m-sup">M:Support@info.com</span>
        <span class="b-app">Book Appointments</span>
        <span class="eng">
         <select>
             <option selected>Eng <span><img src="/img/arrow-down.png" alt="arrow icon" width="10px" height="10px"></span></option>
             <option>Frh <span><img src="/img/arrow-down.png" alt="arrow icon" width="10px" height="10px"></span></option>
             <option>Spn <span><img src="/img/arrow-down.png" alt="arrow icon" width="10px" height="10px"></span></option>
             <option>Ger <span><img src="/img/arrow-down.png" alt="arrow icon" width="10px" height="10px"></span></option>
             <option>Ita <span><img src="/img/arrow-down.png" alt="arrow icon" width="10px" height="10px"></span></option>
         </select>
        </span>
      </div>
    </div>

     <!-- nav-bar -->

    <div class="row nav-bar">
      <div class="twelve columns ">
          <img class="logo u-pull-left" src="/img/simply.jpg " alt="logo" width="100px" height="70px" >
        <div class="nav">
            
           <label for="toggle">&#9776;
           </label>
           
           <input type="checkbox" id="toggle">
           
           <div class="menu">
             
             <a href="#">Home</a>
             <a href="#">About</a>
             <a href="#">Appointment Form</a>
             <a href="#">Gallery</a>
             <a href="#" > Pages</a>
             {{#if user}}
              <a href="/logout">logout</a>
              {{else}}
              <a href="/signup">Sign up</a>
              <a href="/login">Login</a>
               {{/if}}
                <a href="/purchase">shopping-cart{{session.cart.length}}</a>
             <img src="/img/call.png" alt="phone number"  alt="logo" width="25px" height="25px" >
             <span>call us now  </span>
  
           </div>
        </div>
      
      </div>
    </div>
   {{{body}}}
  <div class="row contact">
        <div class="contact-container">
          <div class="contact-box a">
            <div class="sa-icon">
              <a href=""><img src="/img/location.png" alt="location icon" width="42px" height="40px"></a> 
            </div>
            <div class="sa">
              <h6>HOSPITAL ADDRESS
                <span> <br>
                  Syntax Imagination Street,
                  Ogun State.
                </span>
              </h6>
            </div>
        </div>
        <div class="contact-box b">
            <div class="sa-icon b2">
              <a href=""><img src="/img/phone.png" alt="location icon" width="42px" height="40px"></a> 
            </div>
            <div class="sa">
              <h6>EMERGENCY (24X7)
                <span><br>
                  Mobile: (+1) 800436333 <br>
                  Toll Free: (+1) 800436333
                </span>
              </h6>
              
            </div>
        </div>
        <div class="contact-box c">
            <div class="sa-icon c2">
              <a href=""><img src="/img/mail.png" alt="location icon" width="42px" height="40px"></a> 
            </div>
            <div class="sa">
              <h6>EMAIL
                <span><br>
                  info@medical.com &nbsp;
                  info@medicalpharmarcy.com 
                </span>
              </h6>
            
            </div>
        </div>
        </div>
      </div>
      <!-- footer -->
      <div class="footer">
        <div class="footer-container">
          <div class="tail-1 foot-box">
              <img src="/img/simply.jpg " alt="logo" width="70px" height="40px" >
                 <p>
                   Lorem ipsum dolor sit amet adipisicing elit dicta eius
                   Lorem ipsum  adipisicing elit dicta eius dolor sit amet adipisicing elit dicta eius
                   adip
                 </p>
                <ul>
                   <li>Monday - Friday<span class="u-pull-right">8:00-18:00</span> </li>
                   <li>Saturday<span class="u-pull-right">8:00-18:00</span> </li>
                   <li>Sunday<span class="u-pull-right">8:00-13:00</span> </li>
                </ul>
          </div>
          <div class="tail-2 foot-box">
            <h5>Our Services<br></h5>
            <ul>
              <li>> Births<span class="u-pull-right">> lorem ipsum</span></li>
              <li>> Pilmonary<span class="u-pull-right">> lorem ipsum</span></li>
              <li>> Cardiology<span class="u-pull-right">> lorem ipsum</span></li>
              <li>> Neurology<span class="u-pull-right">> lorem ipsum</span></li>
              <li>> Traumatology<span class="u-pull-right">> lorem ipsum</span></li>
              <li>> Neurology<span class="u-pull-right">> lorem ipsum</span></li>
              </ul>        
          </div>
          <div class="tail-3 foot-box">
              <h5>Newsletter</h5>
              <p >
                Lorem ipsum dolor sit amet adipisicing elit dicta eius
                Lorem ipsum  adipisicing elit dicta
              </p>
              <input type="text" placeholder="Email Address">
              <span class="arrow-icon"> 
                <img src="/img/arrow.png" alt="search" width="20px" height="20px">
              </span>
              <p>
                Stay Connected
              </p>
              <div class="social-icons">
                <span><img src="/img/fb.png" alt="search" width="10px" height="10px"></span>
                <span><img src="/img/twitter.png" alt="search" width="10px" height="10px"></span>
                <span><img src="/img/google.png" alt="search" width="10px" height="10px"></span>
                <span><img src="/img/mail.png" alt="search" width="10px" height="10px"></span>
                <span><img src="/img/linkedin.png" alt="search" width="10px" height="10px"></span>
              </div>
          </div>
        </div>
      </div>

        <!-- copywrite -->
        <div class="copywrite">
          <h5>
            Copy Rights © 2019 All Rights Reserved.
          </h5>
        </div>

    </div>
   <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d0b7f2d53d10a56bd7b0870/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

