<form action="/buyer-details" method="post">
<labels for="">Name:</labels><br>
<input type="text" name="name" id="buyersname"><br>
<labels for="">Phone number:</labels><br>
<input type="text" name="phone"><br>
<labels for="">Address:</labels><br>
<input type="text" name="address"><br>
<button type="submit" id="buyersbtn">send</button>

</form>
<div id="notifications"></div>
 <script src="/js/function.js"></script>