
    <div id="maps">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1350px" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=ogun%20sate%20industrial%20housing%20eastate&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pureblack.de</a></div><style>.mapouter{text-align:right;height:500px;width:1200px;}.gmap_canvas {overflow:hidden;background:none;min-zoom:10!important;height:500px;width:1350px;}</style></div>
      </div>
    <!-- image slider 1 -->
    <div class="row">
    <div class="twelve columns">
    <div class="slider">
        <figure>
         
          <img src="img/pix3.jpg" alt="Doctors">
          <img src="img/doc3.jpg" alt="Doctors">
          <img src="img/pix3.jpg" alt="Doctors">
          <img src="img/doc2.jpg" alt="Doctors">
          <img src="img/pix3.jpg" alt="Doctors">
        
        </figure>
      </div>
    </div>
    </div>

  <!-- content -->
    <div class="row talk">
      <div class="two columns">&nbsp;</div>
      <div class="five columns">
        <h5><strong>The Best  Your Health!</strong><br>
        <span><img src="img/signal.jpg" alt="stethoscope" width="40px" height="20px"></span>
        </h5>
        
        <p>
          One of the World's leading hospitals can provide safe and
          compassionate care at its best
          for everyone.
        </p>
      </div>
      <div class="five columns">&nbsp;</div>
    </div>
 
   
    <!-- services -->
    <div class="row services">
      <div class="twelve columns flex-container">
      <div class="check box">
            <h4>Check Our <br> Special Services</h4>
            <span>
                Lorem ipsum dolor sit amet adipisicing elit dicta eius nemo<br>
                dicta eius nemo  voluptate dicta eius. 
            </span>
         <div>
          <button class="view-button">View All Services</button>
        </div>
      </div>
      <div class="quick box">
        <h5>Quick Look At Benefits<br></h5>
          <span>
            Lorem ipsum dolor sit amet adipisicing elit dicta eius
          </span> <br> <br>
          <ul>
            <li>+ &nbsp; Lorem ipsum dolor nemo</li>
            <li>+ &nbsp; Lorem ipsum dolor nemo dicta ush</li>
            <li>+ &nbsp; Lorem ipsum dolor nemo yu</li>
            <li>+ &nbsp; Lorem ipsum dolor nemo elit ush</li>
            <li>+ &nbsp; Lorem ipsum dolor nemo yu</li>
          </ul>
        </div>
      <div class="work box">
        <h5>Our Working Hours<br></h5>
          <span>
            Lorem ipsum dolor sit amet adipisicing elit dicta eius
        </span> <br> <br>
          <ul>
            <li>Monday - Wednesday &nbsp;&nbsp;&nbsp; <span class="u-pull-right">08:00-18:00</span> </li>
            <li>Thursday - Friday &nbsp;&nbsp;&nbsp; <span class="u-pull-right">08:00-18:00</span> </li>
            <li>Saturday &nbsp;&nbsp;&nbsp; <span class="u-pull-right">09:00-16:00</span> </li>
            <li>Sunday &nbsp;&nbsp;&nbsp; <span class="u-pull-right">09:00-12:00</span> </li>
          </ul>
      </div>
      </div>
    </div>
  
    
  <!-- specilized-doctors -->
  <div class="row">
      <div class="twelve columns">
      <div class="slider">
          <figure>
            <img src="img/pix3.jpg" alt="Doctors">
            <img src="img/doc3.jpg" alt="Doctors">
            <img src="img/pix3.jpg" alt="Doctors">
            <img src="img/doc2.jpg" alt="Doctors">
            <img src="img/pix3.jpg" alt="Doctors">
          
          </figure>
        </div>
      </div>
      </div>

      <!-- purchase -->
      <div class="row purchase">
        <div class="twelve columns">
          <div class="buy-this">
              <strong>Are You Ready to Buy this theme!</strong><br>
              Lorem ipsum dolor sit amet adipisicing elit.
              dicta eius nemo voluptate.
          </div>

          <div>
              <button class="buy-button">Buy Now</button>
          </div> 
        </div>
      </div>
     
      <!-- department -->
      <div class="row department">
        <div class="twelve columns flex-department">
          <div class="display half">
              <img src="img/doc1.jpg" >
          </div>
          <div class="stat-box half">
             <div class="reliable">
              <span>
                We Are Reliable & Trusted
                <h5>Our Deparments</h5>
                <img src="img/signal.jpg" alt="stethoscope" width="40px" height="20px">
              </span>
             </div>
             <p>
               Lorem ipsum dolor sit amet consectetur dicta totam beatae recusandae quibusdam 
               veniam sequi in. Lorem ipsum dolor sit amet consectetur dicta totam beatae recusandae  
               veniam sequi in. Lorem ipsum dolor sit amet consectetur dicta totam beatae recusandae  
               veniam sequi in. Lorem ipsum dolor sit amet consectetur dicta totam beatae recusandae  
               veniam sequi in.
             </p>
             <div class="numbers">
              <div class="num">
              <span class="bold"><strong>823</strong></span><br>
              <span class="small">Hospital Room</span>
              </div>
              <div class="num">
              <span class="bold"><strong>3201</strong></span><br>
              <span class="small">Satisfied Clients</span> 
              </div>
              <div class="num">
              <span class="bold"><strong>424</strong></span><br>
              <span class="small">Professional Staff</span>  
              </div><br><br><br>
             </div> 

             <div>
                <button class="buynow-button">Buy Now</button>
             </div>
          </div>
        </div>
     </div>

     <!-- treatment -->
     <div class="row treatments">
       <div class="twelve columns treat-container">
         <div class="facilities high">
          <div class="fact-1">
            <h5><strong>Our Facilities</strong><br></h5>
          <span>
            Lorem ipsum dolor sit amet adipisicing elit dicta eius 
          </span> <br> <br>
         </div>

         <div class="fact-2">
           <span>Careers</span> <span class="plus">-</span> <br>
           <img class="fact-img" src="img/doc1.jpg" width="150px" height="100px">
           <span class="fact-note">Lorem ipsum dolor sit amet adipisicing elit dicta eius
              Lorem ipsum dolor sit dicta eius dicta eius dicta eius dicta eius dicta eius dicta eius
              eius dicta eius
           </span>
         </div>
         <div class="fact-3">
           <h6>Client Approach <span class="plus">+</span></h6>
           
         </div>
         <div class="fact-4">
            <h6>24/7 Professional Support <span class="plus">+</span></h6>
            
         </div>
        </div>
        
         <div class="diag high">
          <div class="diag-1">
            <h5><strong>We Diagnose & Treat</strong><br></h5>
          <span>
            Uniue Problem in Our Research Center 
          </span> 
         </div>

         <div class="diag-2">
          <img class="diag-img" src="img/doc1.jpg" width="450px" height="315px">
         </div>

         </div>
       </div>
     </div>


     <!-- profile -->
      <div class="row profile">
        <div class="two columns">&nbsp;</div>
        <div class="two columns prof-1">
          <div class="top1">
            <span>Testimonial</span>
            <h5>What People Say</h5>
          </div>
          <div class="top2">
            <h5>3000+</h5>
            <span>Healthy Visitors Words</span><br><br>
            <a href="">Next</a> / <a href="">Prev</a>
          </div>
        </div>
        <div class="three columns frame">
          <div class="frame-cover">
          <div class="frame-1">
            <img src="img/me.jpg" alt="picture of a doctor" width="75px" height="75px">
            <p><strong>Hollah Daniel</strong> <br>
            <span>Front-End Developer / Nigeria</span>
            </p>
          </div>
          <div class="frame-2">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
               A expedita, dicta explicabo eius dolore explicabo eius.
            </p>
          </div>
        </div>
        </div>
        <div class="three columns frame">
        <div class="frame-cover">
            <div class="frame-1">
              <img src="img/me.jpg" alt="picture of a doctor" width="75px" height="75px">
              <p><strong>Hollah Daniel</strong> <br>
              <span>Front-End Developer / Nigeria</span>
              </p>
            </div>
            <div class="frame-2">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                A expedita, dicta explicabo eius dolore explicabo eius.
              </p>
            </div>
          </div>
        </div>
        <div class="two columns">&nbsp;</div>
      </div>



      <!-- recent tips and news -->
      <div class="recent">
        <div class="row recent-1">
          <div class="twelve columns">
          <h6><strong>
            Recent Tips & News<br>
            <img src="img/signal.jpg" alt="stethoscope" width="40px" height="20px">
          </strong></h6>
          
          <div class="view">
            <a href="">VIEW MORE POST +</a>
          </div>
          </div>
        </div>
        </div>
       
        <div class="row tips">
         
          <div class="tips-container">
             {{#each item}}
            <div class="tips-box" id="elementId">
              <div class="tp-1">
                <span class="datas" id="myId">{{id}}</span>
                <span>{{price}}</span>
                <img src="/uploads/{{file}}" alt="dentist"  width="280px" height="200px">
                <button><a href="/cart/{{id}}">purchase</a></button>
                <button onclick="remove()">remove</button>
              </div>
              <div class="tp-2">
                <h6><strong>Latest Blog new Slider Image Post</strong></h6>
                <span class="date">March 10, 2010 by Lorem in Science</span> <br>
                <span class="word">Lorem ipsum dolor sit amet consectetur, 
                   dignissimos dolor est, pariatur, nam harum 
                </span>
                  <p>
                    {{!-- <a href=""><strong>CONTINUE READING</strong></a> --}}
                  </p>
                  
              </div>
            </div>
             {{/each}}  
            </div>
            
            </div>
            <button onclick="myFunction()">Click me</button>
            
             {{!-- <div class="row tips">
          <div class="tips-container">
            <div class="tips-box">
              <div class="tp-1">
                <img src="img/person5.jpg" alt="dentist">
              </div>
              <div class="tp-2">
                <h6><strong>Latest Blog new Slider Image Post</strong></h6>
                <span class="date">March 10, 2010 by Lorem in Science</span> <br>
                <span class="word">Lorem ipsum dolor sit amet consectetur, 
                   dignissimos dolor est, pariatur, nam harum 
                </span>
                  <p>
                    <a href=""><strong>CONTINUE READING</strong></a>
                  </p>
                  
              </div>
            </div>
           
            <div class="tips-box">
                <div class="tp-1">
                  <img src="img/person5.jpg" alt="dentist">
                </div>
                <div class="tp-2">
                  <h6><strong>Latest Blog new Slider Image Post</strong></h6>
                  <span class="date">March 10, 2010 by Lorem in Science</span> <br>
                  <span class="word">Lorem ipsum dolor sit amet consectetur, 
                     dignissimos dolor est, pariatur, nam harum dolor est, pariatur, nam harum
                     dolor est 
                  </span>
                    <p>
                      <a href=""><strong>CONTINUE READING --></strong></a>
                    </p>
                    
                </div>
              </div>
            
              <div class="tips-box">
                  <div class="tp-1">
                    <img src="img/person5.jpg" alt="dentist">
                  </div>
                  <div class="tp-2">
                    <h6><strong>Latest Blog new Slider Image Post</strong></h6>
                    <span class="date">March 10, 2010 by Lorem in Science</span> <br>
                    <span class="word">Lorem ipsum dolor sit amet consectetur, 
                       dignissimos dolor est, pariatur, nam harum
                    <span>
                      <p>
                        <a href=""><strong>CONTINUE READING</strong></a>
                      </p>
                      
                  </div>
                </div> --}}
          {{!-- </div>
          </div> --}}
          <script src="/js/jquery-2.2.3.min.js"></script>
        <script src="/js/load.js"></script>

      <!-- contact section -->
    