<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
    <h1>login</h1>
     <labels for="name">email</labels>
    <input type="email" name="email" id="name">
       <labels for="name">pasword</labels>
    <input type="password" name="password" id="password">
  <button type="submit">submit</button>
 
    </form>
    
    <div class="kunLun">First one</div>
    <div class="kunLun">Hello Sir</div>

</body>
</html>