<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
    <h1>sign in</h1>
    <labels for="name">name</labels>
    <input type="text" name="name" id="">
     <labels for="name">email</labels>
    <input type="email" name="email" id="">
     <labels for="name">phone</labels>
    <input type="number" name="phone" id="">
      <labels for="name">password</labels>
    <input type="password" name="password" id=""><br>
      <labels for="name">confirm password</labels>
    <input type="password" name="cpassword" id="">
     <button type="submit">submit</button>
    </form>
</body>
</html>